{% extends "main/base.html" %}
{% load main_extras %}

{% block title %} {{ category.name }}: {% endblock %}}

{% block header %}  {{ category.name }} {% endblock %}}

{% block breadcrumbs %}
    {% catalog_breadcrumb category %}
    <li class="breadcrumb-item active">{{ category.name }}</li>
{% endblock %}

{% block content %}

    <ul>
{% for item in page_obj %}
        <li><a href="{% url 'item' item.slug %}">{{ item.title }}</a></li>
{% endfor %}
    </ul>
<nav aria-label="Page navigation example">
  <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1">&laquo; 1</a>
            {% if page_obj.next_page_number != 1 %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% endif %}
        {% endif %}

            <li class="page-item">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
            {% endif %}
        {% endif %}
    </ul>
</nav>

{% endblock %}}
