{% extends "main/base.html" %}

{% block title %} Категории {% endblock %}}

{% block header %}  {{ category }} {% endblock %}}

{% block content %}
  <h1>Title: {{ item.title }}</h1>

  <div style="display: block; float: right;"><strong>Теги:</strong>
      {% for tag in item.tag.all %}
      <a href="/items/?tag={{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}</div>
  <p><strong>Продавец:</strong> <a href="/vendor/{{ item.vendor.slug }}/">{{ item.vendor }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Цвет:</strong> {{ item.color }}</p>
  <p><strong>Цена:</strong> {{ item.price }}</p>
  <p><strong>Цена:</strong> {{ item.price_discount }}</p>
  <p><strong>Изображение:</strong> <img src="/media/{{ item.image }}" width=200></p>


{% endblock %}}
