{% extends "main/base.html" %}

{% block content %}
    <h3 class="text-center">Авторизация</h3>
{% load socialaccount %}

<div class="control-form">
<button class="btn btn-outline-danger" ><a href="{% provider_login_url 'google' %}">Войти через Google аккаунт</a></button>

    <p>Или:</p>
    <form action="" method="POST">
        {% csrf_token %}
        <table>{{ form }}</table>
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" class="btn btn-success btn-block" value="Войти">
    </form>
      <br>Нет аккаунта? <a href="{% url 'sign-up' %}">Зарегистрироваться</a></p>

</div>

{% endblock %}