{% extends "main/base.html" %}

{% block title %} Профиль {{ request.user }}. {% endblock %}}

{% block header %}  Профиль {{ request.user }} {% endblock %}}

{% block content %}
<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
<table class="control-form">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ formset }}
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-success btn-block" value="Сохранить"></td>
        </tr>
    </form>
</table>

{% endblock %}}
