{% load main_extras %}

{% category_list as categories %}
{% load mptt_tags %}
   <div class="category_menu">
      <ul class="sidebar-nav">
    {% recursetree categories %}
        <li>
        {% if node.slug == category.slug %}
        {{ node.name }}
        {% else %}
        <a href="/category/{{ node.slug }}/">{{ node.name }}</a>
        {% endif %}
        {% if not node.is_leaf_node %}
        <ul class="children">
        {{ children }}
        </ul>
        {% endif %}
        </li>
    {% endrecursetree %}
      </ul>
{% article_list as articles %}
      <ul class="article-menu">
          {% for item in articles %}
        <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
          {% endfor %}
      </ul>

      {% active_tag_list as tags %}
       Теги:
      <div class="tags">
      {% for tag in tags %}
      {% if tag.string == active_tag %}
        {{ tag.string }}
      {% else %}
        <a href="/items/?tag={{ tag.string }}">{{ tag.string }}</a>
      {% endif %}
      {% endfor %}
      </div>

   </div>