{% extends "base.html" %}

{% block title %} Теги {% endblock %}}

{% block header %}  Товары с тегом "{{ tag }}" {% endblock %}}

{% block content %}

    <ul>
{% for item in page_obj %}
        <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
{% endfor %}
    </ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?tag={{ tag }}&page=1">&laquo; 1</a>
            {% if page_obj.next_page_number != 1 %}
            <a href="/items/?tag={{ tag }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="/items/?tag={{ tag }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="/items/?tag={{ tag }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>

{% endblock %}}
